.container {
  width: 100%;
  max-width: var(--measure);
  margin-inline: auto;
  padding-inline: var(--gutter);
}

.shell {
  @include up(lg) {
    max-width: var(--shell-narrow);
  }

  @include up(xl) {
    max-width: var(--shell);
  }
}
