@import 'tailwindcss';

@theme {
  --font-ui-label: var(--font-ui);
  --font-ui-button: var(--font-ui);
  --font-body-reading: var(--font-body);
  --font-body-reading-mobile: var(--font-body);
  --font-display-lg: var(--font-display);
  --font-code-block: var(--font-code);

  --text-headline-xl: 3rem;
  --text-headline-xl--line-height: 1.1;
  --text-headline-xl--letter-spacing: -0.02em;
  --text-headline-xl--font-weight: 700;
}
