.list {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.item {
  &:not(:last-child) {
    border-bottom: 1px solid var(--border);
  }
}

.link {
  composes: t-body from global;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 0;
  font-weight: 500;
  color: var(--fg);
  text-decoration: none;
  transition: color var(--transition);

  &:hover {
    color: var(--accent);
  }
}

.arrow {
  display: flex;
  align-items: center;
  color: var(--fg-subtle);
  opacity: 0.4;
  transition: opacity var(--transition);

  .link:hover & {
    opacity: 1;
    color: var(--accent);
  }
}
