$primary-font: var(--font-body);
$display-font: var(--font-display);
$ui-font: var(--font-ui);
$code-font: var(--font-code);

$breakpoint-lg: 992px;
$breakpoint-md: 991px;
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
